.App-logo {
  pointer-events: none;
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
}

.navigation {
  background-color: lightslategrey;
  height: 100em;
}

@media only screen and (max-width: 576px) {
  .navigation {
    height: fit-content;
  }
}

.navigation label {
  min-width: 50px;
}

.navigation input {
  margin-bottom: 5px;
}

.navigation Button {
  margin-top: 5px;
  margin-left: 50px;
}
.navigation .search {
  margin-left: 50px;
}

.table-header {
  background-color: lightslategrey;
}
.table-row {
  /* background-color: red; */
  border-top: 1px solid darkgray;
}

.table-row :hover {
  background-color: lightgray;
}
